<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center">Add Details</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">

                            <form action="#"
                                  th:object="${form}"
                                  enctype="multipart/form-data"
                                  method="POST"
                                  th:action="@{/user/process-form}"
                                  class="mt-2">
                                <!-- Name -->
                                <div class ="input-group">

                                    <div class="input-group-prepend">

                                        <div class="input-group-text mr-3">
                                            <i class="fas fa-user-alt"></i>

                                        </div>

                                    </div>
                                    <input type="text" id="Name"
                                           name="name" placeholder="Enter Name here"
                                           class="form-control"/>

                                </div>

                                <!-- address-->
                                <div class ="input-group mt-3">

                                    <div class="input-group-prepend ">

                                        <div class="input-group-text mr-3">
                                            <i class="fa-solid fa-location-crosshairs"></i>

                                        </div>

                                    </div>
                                    <input type="text" id="address"
                                           name="address" placeholder="Enter Your Address Here"
                                           class="form-control"/>

                                </div>



                                <!-- email-->

                                <div class ="input-group mt-3">

                                    <div class="input-group-prepend">

                                        <div class="input-group-text mr-3">
                                            <i class="fa-solid fa-at"></i>

                                        </div>

                                    </div>
                                    <input type="email" id="email"
                                           name="email" placeholder="Enter Your E-mail"
                                           class="form-control"/>

                                </div>


                                <!-- phone number-->

                                <div class ="input-group mt-3">

                                    <div class="input-group-prepend">

                                        <div class="input-group-text mr-3">
                                            <i class="fa fa-phone"></i>

                                        </div>

                                    </div>
                                    <input type="number" id="phone"
                                           name="phoneNumber" placeholder="Enter Your Phone Number"
                                           class="form-control"/>

                                </div>


                                <!-- image-->

                                <div class="custom-file mt-3">

                                    <input type="file" name="profileImage"/>
                                </div>

                                <div class="container text-center mt-5">
                                    <button class="btn btn-outline-primary">Submit Form</button>
                                </div>


                            </form>

                        </div>
                    </div>

                </div>



            </div>
        </div>


</section>

</body>
</html>