body{
    background: #e2e2e2!important;
}

.bg-primary{
    background: #5bcc94!Important;

}


.banner{
    width:100%
    height:93vh;
    background:white;
    color:black;
    background-size:cover;
}
.my-card{
    padding:20px;
    background: #ffffff;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/*  sidebar */

@media only screen and (max-width: 600px){

.sidebar{
    display:none;
    width:80% !important;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}
.content{
    margin-left: 0%! important;
}
}

.sidebar{
width: 18%;
background : white;
high: 100vh;
position: fixed;
padding-top: 55px;
}
.sidebar a{
display:block;
width: 100%;
padding: 25px 10px;
color: gray;
text-decoration: none;
}
.content{
margin-left: 20%;
}

.sidebar a:hover{
    background:#e2e2e2;
}
.sidebar.divider{
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}


//home style

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


